<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogodynka</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="myApp">
    <div class='mainContainer' data-ng-controller="weather">
        <header>
            <h1>POGODA</h1>
            <h6>Powered by 
                <a href="https://www.metaweather.com/" target="_blank">MetaWeather.com</a>
            </h6>
        </header>
		<nav class="cities">
			<input type="text" data-ng-model="searchCity" data-ng-change="getCities(searchCity)" placeholder="Szukaj" />        
			<ul class="searchList">
				<li data-ng-repeat="c in cities" data-ng-click="getWeather(c.woeid,c.title)">
					{{c.title}}
				</li>
			</ul>
		</nav>
		<main class="showWth">
			<div class="displayDay">	
				<h2>{{weather.title}}</h2>
				<!--
				<div>{{day[currDay].applicable_date}}</div>
				-->
				<img src="https://www.metaweather.com/static/img/weather/{{day[currDay].weather_state_abbr}}.svg" />
				<div class="group">
					<div>{{day[currDay].the_temp| number:1}}°C</div>
					<div>{{day[currDay].air_pressure}} hPa</div>
				</div>
				<div class="group">
					<div>{{day[currDay].max_temp|number:2}}°C</div>
					<div>{{day[currDay].min_temp|number:2}}°C</div>
					<div>{{day[currDay].predictability}}%</div>
				</div>
				<div class="group">
					<div>{{day[currDay].wind_direction|number:2}}</div>
					<div>{{day[currDay].wind_direction_compass}}</div>			
					<div>{{day[currDay].wind_speed|number:2}} mph</div>
				</div>
			</div>
			<div class="otherDays">
                <div class="singleDay" data-ng-repeat="d in day" data-ng-click="$parent.currDay = $index">
                    <img src="https://www.metaweather.com/static/img/weather/{{d.weather_state_abbr}}.svg" />
                    <h4>{{d.the_temp| number:0}}°C</h4>     
				</div>
			</div>
			<div class="disableView">Wybierz miasto.</div>
        </main>
    </div>
    <script>
        var app = angular.module("myApp", []);
		var sl = document.querySelector(".searchList");
		var dV = document.querySelector(".disableView");
		app.controller('weather', function($scope, $http, $filter){        
			$scope.getCities = function(str){
				sl.style.display = "block";
                $http.get("https://cors-anywhere.herokuapp.com/https://www.metaweather.com/api/location/search/?query="+str).then(function(response){
					$scope.cities = response.data;
				});
			}
			$scope.getWeather = function(id,city){
				$scope.searchCity = city;
				sl.style.display = "none";
				dV.style.display = "flex";
				dV.innerHTML = "<img src='loading.gif' class='loader' />";
				$http.get("https://cors-anywhere.herokuapp.com/https://www.metaweather.com/api/location/"+id).then(function(response){
					dV.style.display = "none";
					$scope.weather = response.data;
					let day = response.data.consolidated_weather;
					$scope.day = day;
					$scope.currDay = 0;
				});
			}
		});
    </script>
</body>
</html>