:root{
  --blue:#3a429c;
  --green:#368f35;
  --red:#ba4343;
  --pink:#c221a7;
  --yellow:#e3f031;
}

body {
  table{
    display:table !important;
  }
  .sidebar-toggle{
    padding:0 .5rem 0 1rem !important;
    div span:nth-child(3){ margin-bottom:0px; }
  }

  .prevNextButtons{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-top:50px;
    button{
      color:var(--accent);
      font-weight: bold;
      cursor:pointer;
      padding:.5rem 1rem;
      border-radius: 1rem;
      background-color: var(--toogleBackground);
      border:none;
      display:flex;
      align-items: center;
      &:hover{
        background-color: var(--textColor);
      }
      &.next::after{
        content: ">";
      }
      &.prev::before{
        content: "<";
      }
    }
  }

  .standardWrapper{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    & > div{
      flex:1;
      max-width:100%;
    }
    .center{
      text-align:center;
    }
  }

  @media screen and (max-width: 768px){
    .content, #main{
      padding-top:0;
      margin-top:0;
    }
    table{
      display:block !important;
    }
    #docsify-darklight-theme {
      right:10px;
      left:unset;
    }
    .standardWrapper{
      flex-direction: column-reverse;
    }
    .reverse{
      flex-direction: column;
    }
  }

  #docsify-darklight-theme{
      display:none;
  }

  .exampleTagsContainer{
    margin-top:5rem;
    display:flex;
    justify-content:center;
    .exampleTag{
      display:inline;
      position:relative;
      font-size: clamp(1rem, 2.5vw, 2rem); 
      &.withUpperLabel{
        &:before{
          content:"";
          border-color: var(--accent);
          border-style: solid;
          position:absolute;
          width:calc(100% - 6px);
          height:calc(60% + 1px);
          top:calc( -30% - 1px );
          left:0;
          border-width:3px 3px 0 3px;
        }
        .upperLabel{
          font-size:.8rem;
          position:absolute;
          width:100%;
          bottom:2.8rem;
          text-align:center;
          font-weight: bolder;
          color:var(--highlightColor );
          background-color:var(--accent);
        }
      }
    }
  }

  /* sidebar */
  .search{
    margin:0 !important;
    .input-wrap{
      margin:0 !important;
      input{
        margin:0;
      }
    }
  }
  .sidebar-toggle{
    background-color: transparent!important;
  }
}